global:
  resolve_timeout: 5m

route:
  group_by: ['alertname', 'severity']
  group_wait: 30s
  group_interval: 5m
  repeat_interval: 4h
  receiver: 'discord'

  routes:
    - match:
        severity: critical
      receiver: 'discord'
      group_wait: 10s
      repeat_interval: 1h

receivers:
  - name: 'discord'
    discord_configs:
      - webhook_url: 'https://discord.com/api/webhooks/1464153062619746397/jwQY27mG74c9gBsORlv-iHK0PBE5KtusG_g1DUEAaDV3bXAXZK6qfeER8iOPaA_d_t55'
        send_resolved: true

inhibit_rules:
  - source_match:
      severity: 'critical'
    target_match:
      severity: 'warning'
    equal: ['alertname']
